<h1>Admin Page</h1>

<h3>File Uploads</h3>
<!-- Source: http://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button -->
<form action='/uploadUsers' enctype="multipart/form-data" method='POST'>
  <div style="position:relative;">
    <a class='btn btn-primary' href='javascript:;'>
      Choose User File...
      <input type="file" accept=".csv" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
    </a>
    &nbsp;
    <span class='label label-info' id="upload-file-info"></span>
  </div>
  <button type="submit" class="btn btn-default">Submit User List</button>
</form>

<br>

<!-- This needs to be updated for usage with websites -->
<form action='/uploadWebsites' enctype="multipart/form-data" method='POST'>
  <div style="position:relative;">
    <a class='btn btn-primary' href='javascript:;'>
      Choose Website Zip File...
      <input type="file" accept=".zip" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-infos").html($(this).val());'>
    </a>
    &nbsp;
    <span class='label label-info' id="upload-file-infos"></span>
  </div>
  <button type="submit" class="btn btn-default">Submit Websites</button>
</form>

<h3>Data Report</h3>

<form action='/dataView' method='GET'>
  <button type="submit" class="btn btn-default">View Data Report</button>
</form>

<br>

<form action='/exportCSV' method='POST'>
  <button type="submit" class="btn btn-default">Export Data Report to CSV</button>
</form>
