<h3>List of Voters</h3>
<p> Recall an earlier assignment has extra credit for the best submissions. This website will allows for students to view and rate (first, second, and third) of the various student submitted web sites.
</p>
<p> To have access to the resources, you must first log into a student or admin account.</p>
